#gif-list .display-none-overlay {
  display: none;
}

#gif-list .uk-position-bottom{
  z-index: 1;
  border-radius: 7px;
  padding: 0px;
}

#gif-list .positions-bottom-icons {
  display: flex;
  justify-content: space-between;
}

.positions-bottom-icons>span {
  cursor: pointer;
}

#gif-list img {
  cursor: pointer;
}

.heart-icon.favorite-gif path{
  fill: red;
}
.heart-icon, .coppy-icon {
  color: white !important;
} 

.heart-icon:hover {
  color: red !important;
}

.coppy-icon:hover{
  color: blue !important;
}

button > * {
  pointer-events: none;
}