body
{
    font-family: 'Open Sans', sans-serif;

    padding: 0 10px;

    background-color: #fcfcfc;
}

h1
{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    color: #425671;
}

h1 img {
    margin-right: 6px;
}

a
{
    font-weight: bold;

    text-decoration: none;

    color: #425671;
}

a:hover
{
    color: #111;
}

article
{
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.6;

    position: relative;

    width: 400px;
    margin: 10% auto;

    color: #5a5a5a;
}

footer
{
    font-size: .6em;
    font-weight: bold;

    position: fixed;
    bottom: 8px;

    height: 30px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #aaa;
}

footer div
{
    position: fixed;
}

footer p:first-of-type
{
    left: 20px;
}

footer p:last-of-type
{
    right: 20px;
}
