body
{
    font-family: 'Open Sans', sans-serif;

    background-color: #fcfcfc;

    padding: 20% 20% 0 20%;
}

h1
{
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;

    color: #425671;
}

h1 img
{
    margin-right: 6px;
}

a
{
    font-weight: bold;

    text-decoration: none;

    color: #425671;
}

a:hover
{
    color: #111;
    text-decoration: line-through;
}

p
{
    display: block;
}

article
{
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.6;

    width: 100%;

    color: #5a5a5a;
}