html, body {margin: 0; height: 100%; overflow: hidden}

body {
  background-color: #fcfcfc;  /* light gray */
  font-size: 16px;
  padding-left: 0 20px 0 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: "libre baskerville", sans-serif;
  line-height: 1;
  color: #425671

}

p {
  font-family: "open sans", serif;
}

a {
  color: #425671;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #111111;
}

#text {
  color: #5a5a5a;
  line-height: 1.6;
  font-size: 1em;
  font-weight: lighter;
  width: 400px;
  margin: 10% auto;
  position: relative;
}

#footer {
  font-size: 0.6em;
  font-weight: bold;
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
